.explorar-section {
    padding: 0;
    margin-bottom: 80px; /* Adicionando margem inferior */
}

.explorar-title {
    font-family: var(--font-primary);
    font-size: 2.5rem; /* Aumentei um pouco o tamanho */
    font-weight: 300; /* Deixei a fonte mais leve */
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.explorar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0;
}

.explorar-item {
    position: relative;
    overflow: hidden;
    border-radius: 0; /* Removido o border-radius */
}

.explorar-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.explorar-item:hover img {
    transform: scale(1.05);
}

.explorar-item a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.explorar-item h3 {
    font-family: var(--font-primary); /* Usando a variável da fonte Montserrat */
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-top: 15px; /* Espaçamento entre a imagem e o título */
}

.explorar-item-overlay {
    display: none; /* Removido */
}